html {
  box-sizing: border-box;
}



section {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    padding-bottom: 5px;
}


 #flex-container {
     display: flex;
     flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #f2f2f2;
    display: flex;
    width: 100%;
}


#flex-container > * {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0 0 5px 5px;
    font-size: medium;
    pointer-events: none;
    
    /* THE COLUMN COUNT */
    flex: 1 0 auto;
}



.remove {
    font-size: small;
    text-transform: uppercase;
    position: absolute;
    top: 2px;
    right: 4px;
    cursor: pointer;
    pointer-events: all;
}

.toggle {
    padding:10px;
    margin-bottom: 10px;
    background: Salmon; 
}

#shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

