.carga {

  
  /*les animacions tenen un nom, i estan separades del objecte al que animen*/
  animation-name: example;
  animation-duration: 2s;
}

/* l'animacio es defineix així */
@keyframes example {
  /*tu pots posar tants keyframes com vulguis*/
  0% {transform: translate(-100%, 0)}
  100% {transform: translate(0, 0)}
}
.carga2 {

  
  /*les animacions tenen un nom, i estan separades del objecte al que animen*/
  animation-name: example2;
  animation-duration: 2s;
}

/* l'animacio es defineix així */
@keyframes example2 {
  /*tu pots posar tants keyframes com vulguis*/
  0% {transform: translate(200%, 0)}
  100% {transform: translate(0, 0)}
}