html
{
        background-image: url("../res/fon/verde.jpg");
        background-repeat: no-repeat;
        background-size: 100% 120%;
        background-color: #cccccc;
          
}
      
     
#tittle
{
    margin-top: 200px;
    text-align: center;
}

#Centerbuttons
{
    text-align: center;
    margin-top: 8%;
   
}
.button1
{

 

  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

  background-color: #33b5e5; 
  color: white; 

}

.button1:hover {
  background-color: #0099cc;
  color: white;
}

.container {
    background-image: url("../res/1/Box.png");
     width: 120px;
    height: 130px;
    text-align: right;
    position: absolute;
    right: 50px;
    bottom: 50px;
    transition: transform .5s;
    
}
.container:hover
{
    transform: scale(1.2);
}


