


* {
  box-sizing: border-box;
}
.white{
    background-color: white;
    
}
.white p{color: black;}

body {
			height: 99vh;
             background-image: url("../res/fon/verde.jpg");
        background-repeat: no-repeat;
        background-size: 100% 175%;
        background-color: #cccccc;
		}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
    
}

.header {
    display: inline-blo;
  background-color: saddlebrown;
  color: #ffffff;

    
  font-size: 12px;
  padding: 15px;
    align-items: center;
    
}
.header div{
    display: inline-table;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
    text-align: center;
  padding: 10%;
  margin-bottom: 25px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 3px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: saddlebrown;
  color: #ffffff;
  font-size: 12px;
  padding: 15px;

}
.goright
{
    position: relative;
    float: right;
}
a{
    text-decoration: none;
}
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
   .mapa {
  width: 100%;
  height: 900px ;
  background-image: url("../res/Prepag/Map%20Screen.png");
  background-size: 100% 100%;

}
      
@media only screen and (min-width: 600px) {
  /* For tablets: */
    .col-s-0 {width: 0.33%;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
    .col-0 {width:0.33%;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}