body {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif; 
    letter-spacing: 2px;
        

  background: url(../res/Partida/back.PNG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



#canvas {
	display: inline-block;
	height: 565px;
	width: 700px;
	text-align: center;
	vertical-align: top;

}
.center {
  margin: 0;
  position: absolute;
  top: 10px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


h1{
	font-size: 32px;
	line-height: 3;
}

.block {
	position: absolute;
	cursor: pointer;
}

.square {
	height: 60px;
	width: 60px;
	top: 0;
	left: 0;
	background-color: #2E70FF;
}



.rectdown {
	height: 125px;
	width:1000px;
	top: 86%;
	left: 24%;

    background: url(../res/Partida/Sotabarra.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.moneyrect {
	height: 40px;
	width:200px;
	top:10px;
	right:10px;
	background-color: yellow;
    
}


.upgmoney {
	top: 865px;
	left:1px ;
	height: 110px;
	width: 120px;
    background: url(../res/Partida/money.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.shoot {
	top: 865px;
	left: 1800px ;
	height: 110px;
	width: 120px;
	background: url(../res/Partida/shoot.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.pauselvl {
    
	height: 50px;
	width:150px;
	top: 0px;
	left: 0px;
    background-color: purple;
    display: flex;
  align-items: center;   
}

.clear {
	clear: both;
}