.sign-up-container {
    border: 1px solid;
    border-color: #9a9a9a;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    width: 350px;
    margin: 50px auto;
}

.page-header {
    float: right;
}

.login-signup {
    margin: 10px;
    text-decoration: none;
    float: right;
}

.login-signup a {
    text-decoration: none;
    font-weight: 700;
}

.signup-heading {
    font-size: 2em;
    font-weight: bold;
    padding-top: 60px;
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.row {
    margin: 15px 0px;
    text-align: center;
}

.form-label {
    margin-bottom: 5px;
    text-align: left;
}

input.input-box-330 {
    width: 250px;
}

.sign-up-container .error {
    color: #ee0000;
    padding: 0px;
    background: none;
    border: #ee0000;
}

.sign-up-container .error-field {
    border: 1px solid #d96557;
}

.sign-up-container .error:before {
    content: '*';
    padding: 0 3px;
    color: #D8000C;
}

.error-msg {
    padding-top: 10px;
    color: #D8000C;
    text-align: center;
}

.success-msg {
    padding-top: 10px;
    color: #176701;
    text-align: center;
}

input.btn {
    width: 250px
}

.signup-align {
    margin: 0 auto;
}

.page-content {
    font-weight: bold;
    padding-top: 60px;
    text-align: center;
}